@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  padding-left: 6.25%; /* 20/320 = 6.25% */
  padding-right: 6.25%; /* 20/320 = 6.25% */

  @media (min-width: $tablet-min-width) {
    padding-left: 7.8125%; /* 60/768 = 7.8125% */
    padding-right: 7.8125%; /* 60/768 = 7.8125% */
  }
}

@mixin button {
  padding: 16px;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-light-color;
  background-color: $bg-blue-color;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }
}
