$text-base-color: #333333;
$text-light-color: #ffffff;
$text-dark-color: #000000;
$text-error-color: #ff5c5c;

$bg-light-color: #ffffff;
$bg-dark-color: #000000;
$bg-blue-color: #81b3d2;
$bg-gray-color: #eeeeee;

$base-font-size: 14px;
$base-line-height: 21px;
