$text-base-color: #333333;
$text-light-color: #ffffff;
$text-dark-color: #000000;
$text-error-color: #ff5c5c;
$text-blue-color: #81b3d2;

$bg-light-color: #ffffff;
$bg-dark-color: #000000;
$bg-blue-color: #81b3d2;
$bg-gray-color: #eeeeee;
$bg-dark-gray-color: #f2f2f2;

$base-font-size: 14px;
$base-line-height: 21px;

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1200px;
