*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: $bg-light-color;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-base-color;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $text-dark-color;
  text-transform: uppercase;
}

.text {
  line-height: 24px;
  text-transform: uppercase;
}
