@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"), url("../fonts/ptsans.woff") format('woff'),
  url("../fonts/ptsans.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"), url("../fonts/ptsansbold.woff") format('woff'),
  url("../fonts/ptsansbold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}

.title {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $text-dark-color;
  text-transform: uppercase;
}

.text {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  &--required {
    text-align: right;
    display: none;
  }

  &--bg-triangle {
    position: relative;

    &::after {
      position: absolute;
      bottom: -37px;
      left: 0;
      content: "";
      width: 100%;
      height: 37px;
      background: url("../img/bg-triangle.svg") no-repeat 50% 100%;
      background-size: 104%;
    }
  }
}

.advantages {
  font-size: 0;
}

@media (min-width: $tablet-min-width) {
  .photos {
    @include container;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  .text {

    &--required {
      display: inline-block;
      width: 50%;
      padding-top: 19px;
      padding-bottom: 14px;
    }

    &--bg-triangle {

      &::after {
        display: none;
      }
    }
  }
}
