.advantage {

  &--gray {
    @include container;
    background-color: $bg-gray-color;
  }

  &--housing,
  &--souvenirs,
  &--food {
    @include container;
    position: relative;
    padding-top: 16px;
    padding-left: 21.875%; /* 70/320 = 21.875% */
    text-align: left;
  }

  &--housing {
    background: url("../img/icon-house.svg") no-repeat 21px 20px;
    background-size: 39px 37px;
  }

  &--souvenirs {
    background: url("../img/icon-gift.svg") no-repeat 25px 20px;
    background-size: 32px 38px;
  }

  &--food {
    background: url("../img/icon-burger.svg") no-repeat 20px 20px;
    background-size: 40px 35px;
  }
}

.advantage .advantage__content {
  padding-top: 21px;
}

.advantage:first-child .advantage__content {
  padding-top: 40px;
}

.advantage__content {
  @include container;
  background-color: $bg-blue-color;
  color: $text-light-color;
}

.advantage__content .title {
  color: $text-light-color;
}

.advantage .text {
  text-transform: uppercase;
}

.advantage__photo {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-min-width) {
  .advantage {
    display: flex;
    flex-direction: row;

    &--housing,
    &--food,
    &--souvenirs {
      display: inline-block;
      vertical-align: top;
      width: 33.33333%;
      padding-left: 6.25%;
      padding-top: 160px;
      text-align: center;
    }

    &--housing {
      background-size: 75px 72px;
      background-position: 47% 88px;
    }

    &--food {
      background-size: 77px 68px;
      background-position: 47% 92px;
    }

    &--souvenirs {
      background-size: 64px 75px;
      background-position: 47% 85px;
    }

    &--gray {
      display: inline-block;
      vertical-align: top;
      width: 33.33333%;
    }
  }

  .advantage__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .advantage__content {
    width: 33%;
  }

  .advantage__photo-container {
    position: relative;
    flex-grow: 1;
    overflow: hidden;

    &--left {
      order: -1;
    }
  }

  .advantage__photo {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
  }
}
