.button {
  display: inline-block;
  padding: 21px;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-light-color;
  background-color: $bg-blue-color;
  cursor: pointer;
}
