.navigation {
  position: relative;
}

.navigation__list {
  margin: 0;
  padding-left: 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  list-style: none;
}

.navigation__item {

  &:first-child {
    box-shadow: none;
  }
}

.navigation__item a {
  @include button;
  display: block;
  padding: 8px;
  box-shadow:
    0 -1px 0 0 rgba(0, 0, 0, 0.2),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

.navigation__logo {
  position: relative;
  margin-top: -1px;
  min-height: 56px;
}

.navigation__logo a {
  position: absolute;
  top: 0;
  margin-left: -51px;
  font-size: 0;
  z-index: 1;
}

.navigation__toggle {
  position: absolute;
  top: 20px;
  right: 6.25%; /* 20/320 = 6.25% */
  width: 23px;
  height: 21px;
  font-size: 0;
  background: url("../img/icon-cross.svg") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-min-width) {
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $base-font-size;
    line-height: 26px;
  }

  .navigation__item {
    flex-basis: 20%;

    &:nth-child(n+3) {
      order: 2;
    }
  }

  .navigation__item a {
    display: inline-block;
    color: $text-dark-color;
    background-color: $bg-light-color;
    box-shadow: none;

    &:hover {
      background-color: $bg-light-color;
      color: $text-blue-color;
    }

    &:active {
      background-color: $bg-light-color;
      color: $bg-dark-color;
      opacity: 0.3;
    }
  }

  .navigation__item--active a {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: rgba(118, 99, 87, 0.3);
    }
  }

  .navigation__logo {
    flex-basis: 20%;
    margin-left: 0;
    order: 1;
  }

  .navigation__toggle {
    display: none;
  }
}
