.photo {
  @include container;
  margin: 0;
  padding-top: 22px;
  font-size: 0;
  text-align: left;
  border-top: 1px solid #e5e5e5;

  &:last-child {
   border-bottom: 1px solid #e5e5e5;
  }
}

.photo__image {

}

.photo__description-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: left;
}

.photo__name {
  margin: 0;
  color: $text-dark-color;
  font-size: $base-font-size;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.photo__author {
  margin: 0;
  font-size: $base-font-size;
  line-height: 24px;
}

.photo__rating {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 70px;
  padding-left: 37px;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: $base-font-size;
  font-weight: 700;
  color: $text-dark-color;
  text-decoration: none;
}

.photo__icon-like {
  position: absolute;
  top: 7px;
  left: 0;
  fill: $text-dark-color;
}

@media (min-width: $tablet-min-width) {
  .photo {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border: none;

    &:first-child {
      width: 100%;
    }

    &:nth-child(n+2) {
      width: 50%;
      border: none;
    }
  }

  .photo picture {
    max-width: 100%;
    min-height: 100%;
    height: auto;
  }

  .photo__description-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $bg-dark-gray-color;
  }

  .photo__description {
    width: calc(100% - 100px);
  }

  .photo__author {
    order: 2;
  }

  .photo__rating {
    align-self: center;
    padding-top: 2px;
    padding-left: 32px;
    width: 63px;
    order: 1;
  }

  .photo__icon-like {
    top: 0;
  }

  .photo:nth-child(2n+3) .photo__description-wrapper {
    background-color: #eaeaea;
  }
}

@media (min-width: $desktop-min-width) {
  .photo {
    position: relative;

    &:nth-child(n+2) {
      width: 33.33333%;
    }
  }

  .photo__description-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .photo__description-wrapper,
  .photo:nth-child(2n+3) .photo__description-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__name,
  .photo__author,
  .photo__rating {
    color: $text-light-color;
  }

  .photo__icon-like {
    fill: $text-light-color;
  }
}
