.review {

}

.review__section {
  @include container;
  border-top: 1px solid #e5e5e5;
}

.review input[type="text"],
.review input[type="tel"],
.review input[type="email"] {
  padding: 20px;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
}

.review input[type="tel"],
.review input[type="email"] {
  display: block;
  width: 100%;
  padding-right: 70px;
}

.review__contact-container {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
  }
}

.review__label {
  display: block;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;

  &--radio,
  &--checkbox {
    position: relative;
    display: block;
    padding-left: 78px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $text-dark-color;
    text-transform: none;
    margin-bottom: 50px;
  }

  &--radio::before,
  &--checkbox::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--checkbox::before {
    border-radius: 4px;
  }
}

.review__error-message {
  line-height: 26px;
  color: $text-error-color;
  text-transform: none;
}

.review input[type="radio"],
.review input[type="checkbox"] {
  display: none;
}

.review__textarea {
  width: 100%;
  border: none;
  resize: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $text-dark-color;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-min-width) {
  .review form {
    display: flex;
    flex-wrap: wrap;
  }

  .review__section {

    &:nth-child(1) {
      width: 50%;
    }

    &:nth-child(2) {
      width: 100%;
    }

    &:nth-child(3) {
      width: 50%;
      order: -1;
    }

    &:nth-child(n+4) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .review__section:nth-child(n+4) .title {
    width: 100%;
  }

  .review__label {

    &--checkbox {
      width: 50%;

      &:nth-of-type(2n) {
        order: 1;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .review__label {

    &--checkbox {
      width: 25%;
    }
  }

  .review__section:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }

  .review__section:nth-child(2) .title {
    width: 100%;
  }

  .review__contact-container {
    width: 50%;
  }
}
