.review {


}

.review input[type="text"],
.review input[type="tel"],
.review input[type="email"] {
  padding: 20px;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;

  &::placeholder {
    color: $text-dark-color;
  }
}

.review input[type="tel"],
.review input[type="email"] {
  padding-right: 70px;
}

.review__contact-container {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
  }
}

.review__label {
  line-height: 26px;
  text-transform: uppercase;

  &--radio,
  &--checkbox {
    position: relative;
    display: block;
    padding-left: 78px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $text-dark-color;
    text-transform: none;
    margin-bottom: 50px;
  }

  &--radio::before,
  &--checkbox::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--checkbox::before {
    border-radius: 4px;
  }
}

.review__error-message {
  line-height: 26px;
  color: $text-error-color;
}

.review input[type="radio"],
.review input[type="checkbox"] {
  display: none;
}

.review__textarea {
  border: none;
  resize: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $text-dark-color;
  background-color: #f2f2f2;
}

.review__textarea::placeholder {
  color: $text-dark-color;
}
