.social {
  padding-left: 0;
  padding-bottom: 34px;
  font-size: 0;
  list-style: none;
}

.social__item {
  @include button;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 47px;
  height: 48px;

  &:nth-child(5n) {
    margin-right: 0;
  }

  &--twitter {
    background: $bg-blue-color url("../img/icon-twitter.svg") no-repeat 50% 50%;
  }

  &--facebook {
    background: $bg-blue-color url("../img/icon-facebook.svg") no-repeat 50% 50%;
  }

  &--youtube {
    background: $bg-blue-color url("../img/icon-youtube.svg") no-repeat 50% 50%;
  }
}

@media (min-width: $tablet-min-width) {
  .social {
    width: 33.33333%;
    padding-bottom: 8px;
  }
}
