.videoplayer {
  line-height: 0;
}

.videoplayer__video {

}

.videoplayer__controls {

}

.videoplayer__scrollbar {
  position: relative;
  height: 45px;
  border: 22px solid rgba(0, 0, 0, 0.6);
  border-bottom: 20px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

.videoplayer__toggle {
  position: absolute;
  top: -3px;
  left: 36px;
  width: 9px;
  height: 9px;
  background-color: $bg-light-color;
  border-radius: 50%;
}

.videoplayer__buttons {
  padding: 23px;
  background-color: #f2f2f2;
}

.videoplayer__repeat-button,
.videoplayer__subtitles-button,
.videoplayer__fullscreen-button {
  height: 20px;
  font-size: 0;
  border: none;
  cursor: pointer;
}

.videoplayer__repeat-button {
  width: 16px;
  background: url("../img/icon-video-replay.svg") no-repeat 50% 50%;
}

.videoplayer__subtitles-button {
  width: 32px;
  background: url("../img/icon-video-subtitles.svg") no-repeat 50% 50%;
}

.videoplayer__fullscreen-button {
  width: 20px;
  background: url("../img/icon-video-fullscreen.svg") no-repeat 50% 50%;
}
